<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
  <header>
    <nav>
    <input type="hidden" value={{path}}>
    {% if username is defined %}
      <a href="?action=home">home</a>
      <a href='?action=addfile&path={{path}}'>addfile</a>
      <a href='?action=addfolder&path={{path}}'>addfolder</a>
      <a href="?action=disconnect">disconnect</a><br>
      {% else %}
      <a href="?action=login">login</a>
      <a href="?action=register">register</a>
      {% endif %}
    </nav>
  </header>
    {% block content %}{% endblock %}
  </body>
</html>
