{% extends 'layout.html.twig' %}

{% block page_title %}Login{% endblock %}

{% block content %}
<h1>
  login<br>
  <small>By SUP'Internet DEV 2020</small>
</h1>
 <form>
    <h2>         Login       </h2>
                Pseudo: 
                <input>
                <br>
                <br>
                Password: 
                <input>
                <br>
                <br>
                <button> Valider</button>
            </form>
 
{% endblock %}
