{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}
{% block content %}
 <div class="formRegisterStyle">
  <form  action="?action=move" method="POST">
  Move  your file : {{file}} <br> into
    <select name="folders">
      {% for folder in folders %}
          <option> {{folder}}</option>
      {% endfor %}
      {% if home is defined %}
          <option>home</option>
      {% endif %}
    </select><br>
    <button type="submit" class="btn btn-primary">Move</button>
    <input name="path" type="hidden" value='{{path}}'>
    <input name="name" type="hidden" value='{{file}}' required>
  </form>
<<<<<<< HEAD
   </div>
=======
>>>>>>> 05b917d8836f47538bbf36008ac9849ab86eea08
{% endblock %}