{% extends 'layout.html.twig' %}

{% block page_title %}Cool Framework{% endblock %}


{% block content %}
rename {{file}}<br>
<form  action="?action=rename" method="POST" >
<input name="newname" type="text"  placeholder="new title"  required >
<button type="submit" class="btn btn-primary">move file</button>
<input name="path" type="hidden" value='{{path}}'>
<input name="oldname" type="hidden" value="{{file}}" required >
</form>
{% endblock %}